SERVER_PORT=5004
DB_HOST=localhost
DB_PORT=5432
DB_NAME=order
DB_USER=order_user
DB_PASSWORD=order_123

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672

AUTH_SERVICE_URL=http://localhost:5001
PRODUCT_SERVICE_URL=http://localhost:5002
CART_SERVICE_URL=http://localhost:5003